@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>
    <h1>Roles</h1>
    <br />
    <table class="table table-striped" id="roleTable">
        <thead>
            <tr>
                <th>
                    Role
                </th>
                <th>
                    Id
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>
                        @role.Name
                    </td>
                    <td>
                        @role.Id
                    </td>
                </tr>
            }
        </tbody>
    </table>